@charset 'utf-8';
* {margin:0px; padding:0px;}
ul,ol,li {list-style:none;}
h1,h2,h3,h4,dl,dt,dd,address {font-size:inherit; font-weight:inherit; font-style:inherit;};
a {text-decoration:none; color:inherit;}
.ir {
    width:1px; height:1px; margin:-1px;
    position:absolute;
    overflow:hidden;
    clip:rect(1px 1px 1px 1px);
}
